In [1]:
import pandas as pd
import wwo_hist
import os
from src.utils.functions import mkdir_if_not_exists
import os
import datetime
import numpy as np
from tqdm import tqdm

In [2]:
def mk_weather_data(api, location, start, end, freq):
    mkdir_if_not_exists("data/weather_data/")
    os.chdir("data/weather_data/")
    
    hist_weather_data = wwo_hist.retrieve_hist_data(
        api_key=key, 
        location_list=locations, 
        start_date=start, 
        end_date=end, 
        frequency=freq, 
        location_label=False, 
        export_csv=True, 
        store_df=False
    )
    os.chdir("../../")
    return pd.read_csv(f'data/weather_data/{location[0]}.csv')

In [3]:
par_data = pd.read_csv('data/participants_data/1min/661.csv')
par_data.sort_values(by=['localminute'])
par_data['date'] = pd.to_datetime(par_data['localminute'])

In [4]:
par_data

,dataid,localminute,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v,date
0,661,2018-01-01 01:21:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-01 01:21:00-06:00
1,661,2018-01-01 01:00:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-01 01:00:00-06:00
2,661,2018-01-01 01:01:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-01 01:01:00-06:00
3,661,2018-01-01 01:02:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-01 01:02:00-06:00
4,661,2018-01-01 01:03:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-01 01:03:00-06:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525525,661,2018-02-01 10:52:00-06,0.0,NaN,NaN,NaN,NaN,0.004,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.775,123.431,2018-02-01 10:52:00-06:00
525526,661,2018-02-01 10:53:00-06,0.0,NaN,NaN,NaN,NaN,0.004,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.776,123.432,2018-02-01 10:53:00-06:00
525527,661,2018-02-01 10:54:00-06,0.0,NaN,NaN,NaN,NaN,0.004,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.798,123.439,2018-02-01 10:54:00-06:00
525528,661,2018-02-01 10:55:00-06,0.0,NaN,NaN,NaN,NaN,0.004,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.945,123.319,2018-02-01 10:55:00-06:00
525529,661,2018-02-01 10:56:00-06,0.0,NaN,NaN,NaN,NaN,0.004,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.880,123.248,2018-02-01 10:56:00-06:00

In [5]:
key='53a4996903bc42d9a47162143210210' # API key obtained from https://www.worldweatheronline.com/
locations=['162.89.0.47'] # list of strings containg US Zipcode, UK Postcode, Canada Postalcode, IP address, Latitude/Longitude (decimal degree) or city name  
start='01-01-2018' # date when desired scraping period starts; preferred date format: 'dd-mmm-yyyy'
end='31-12-2018' # date when desired scraping period ends; preferred date format: 'dd-mmm-yyyy
freq=1 # frequency between observations; possible values 1 (1 hour), 3 (3 hours), 6 (6 hours), 12 (12 hours (day/night)) or 24 (daily averages)weather_df = mk_weather_data()

# weather_df = mk_weather_data(key, locations, start, end, freq)
weather_df = pd.read_csv(f'data/weather_data/162.89.0.47.csv')

In [6]:
weather_df['date'] = pd.to_datetime(weather_df['date_time'])
del weather_df['moonrise'], weather_df['moonset'], weather_df['sunrise']
weather_df

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,sunset,DewPointC,FeelsLikeC,...,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location,date
0,2018-01-01 00:00:00,1,-4,0.0,10.0,1,97,06:42 PM,-9,-9,...,93,57,0.0,1037,-2,10,9,25,162.89.0.47,2018-01-01 00:00:00
1,2018-01-01 01:00:00,1,-4,0.0,10.0,1,97,06:42 PM,-10,-9,...,74,54,0.0,1037,-2,10,12,25,162.89.0.47,2018-01-01 01:00:00
2,2018-01-01 02:00:00,1,-4,0.0,10.0,1,97,06:42 PM,-11,-9,...,55,51,0.0,1038,-3,10,14,26,162.89.0.47,2018-01-01 02:00:00
3,2018-01-01 03:00:00,1,-4,0.0,10.0,1,97,06:42 PM,-13,-10,...,37,48,0.0,1038,-3,10,17,26,162.89.0.47,2018-01-01 03:00:00
4,2018-01-01 04:00:00,1,-4,0.0,10.0,1,97,06:42 PM,-13,-10,...,35,45,0.0,1039,-3,10,15,25,162.89.0.47,2018-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-12-31 19:00:00,17,5,0.0,10.1,3,36,06:41 PM,4,10,...,5,64,0.0,1015,11,10,220,6,162.89.0.47,2018-12-31 19:00:00
8756,2018-12-31 20:00:00,17,5,0.0,10.1,3,36,06:41 PM,4,10,...,9,68,0.0,1016,10,10,218,3,162.89.0.47,2018-12-31 20:00:00
8757,2018-12-31 21:00:00,17,5,0.0,10.1,3,36,06:41 PM,4,10,...,14,72,0.0,1016,9,10,216,1,162.89.0.47,2018-12-31 21:00:00
8758,2018-12-31 22:00:00,17,5,0.0,10.1,3,36,06:41 PM,5,10,...,9,73,0.0,1017,10,10,217,1,162.89.0.47,2018-12-31 22:00:00
8759,2018-12-31 23:00:00,17,5,0.0,10.1,3,36,06:41 PM,6,11,...,5,74,0.0,1017,10,10,218,1,162.89.0.47,2018-12-31 23:00:00

In [8]:
del weather_df['moonrise'], weather_df['moonset'], weather_df['sunrise'], weather_df['sunset']
weather_df.dtypes

KeyError: 'moonrise'

In [9]:
print(weather_df.columns[1:-1])

Index(['maxtempC', 'mintempC', 'totalSnow_cm', 'sunHour', 'uvIndex',
       'moon_illumination', 'sunset', 'DewPointC', 'FeelsLikeC', 'HeatIndexC',
       'WindChillC', 'WindGustKmph', 'cloudcover', 'humidity', 'precipMM',
       'pressure', 'tempC', 'visibility', 'winddirDegree', 'windspeedKmph',
       'location'],
      dtype='object')

In [19]:
weather = []
for _, row in tqdm(weather_df.iterrows(), total=weather_df.shape[0]):
    values = {
        'date':datetime.datetime.strftime(row.date, '%Y-%m-%d'),
        'hour':datetime.datetime.strftime(row.date, '%H:%M')
    }
    for columns in weather_df.columns[1:-1]:
        values[columns] = row[columns]
    weather.append(values)
weather_df = pd.DataFrame(weather)
weather_df

100%|████████████████████████████████████████████████████████████████████████████| 8760/8760 [00:01<00:00, 7658.92it/s]

,date,hour,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,sunset,DewPointC,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2018-01-01,00:00,1,-4,0.0,10.0,1,97,06:42 PM,-9,...,34,93,57,0.0,1037,-2,10,9,25,162.89.0.47
1,2018-01-01,01:00,1,-4,0.0,10.0,1,97,06:42 PM,-10,...,35,74,54,0.0,1037,-2,10,12,25,162.89.0.47
2,2018-01-01,02:00,1,-4,0.0,10.0,1,97,06:42 PM,-11,...,35,55,51,0.0,1038,-3,10,14,26,162.89.0.47
3,2018-01-01,03:00,1,-4,0.0,10.0,1,97,06:42 PM,-13,...,36,37,48,0.0,1038,-3,10,17,26,162.89.0.47
4,2018-01-01,04:00,1,-4,0.0,10.0,1,97,06:42 PM,-13,...,34,35,45,0.0,1039,-3,10,15,25,162.89.0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-12-31,19:00,17,5,0.0,10.1,3,36,06:41 PM,4,...,17,5,64,0.0,1015,11,10,220,6,162.89.0.47
8756,2018-12-31,20:00,17,5,0.0,10.1,3,36,06:41 PM,4,...,17,9,68,0.0,1016,10,10,218,3,162.89.0.47
8757,2018-12-31,21:00,17,5,0.0,10.1,3,36,06:41 PM,4,...,16,14,72,0.0,1016,9,10,216,1,162.89.0.47
8758,2018-12-31,22:00,17,5,0.0,10.1,3,36,06:41 PM,5,...,14,9,73,0.0,1017,10,10,217,1,162.89.0.47
8759,2018-12-31,23:00,17,5,0.0,10.1,3,36,06:41 PM,6,...,12,5,74,0.0,1017,10,10,218,1,162.89.0.47

In [23]:

def insert_weather_data(date, hour):
    values = {}
    loc = weather_df.loc[(weather_df['date'] == str(date)) & (weather_df['hour'] == f'{str(hour)}:00')]
    for _, row in loc.iterrows():
        for columns in loc.columns[1:-1]:
            values[columns] = row[columns]
    return values

In [ ]:
new_data = par_data.copy()

new_data['generation_solar1'] = np.where(new_data['solar'] < 0, 0, new_data['solar'])
new_data['generation_solar2'] = np.where(new_data['solar2'] < 0, 0, new_data['solar2'])

del new_data['dataid'], new_data['solar'], new_data['solar2'], new_data['leg1v'], new_data['leg2v']
data_columns = list(new_data.columns)

consumption = data_columns[1:len(data_columns) - 3]
new_data["sum_consumption"] = new_data[consumption].sum(axis=1)

generation = data_columns[len(data_columns) - 2:]
new_data["sum_generation"] = new_data[generation].sum(axis=1)

compiled = pd.DataFrame({'date': new_data['localminute'], 'consumption': new_data['sum_consumption'],
                         'generation': new_data['sum_generation'], 'copy_date': new_data['date']})
df = compiled.copy()

rows = []

for _, row in tqdm(df.iterrows(), total=df.shape[0]):
    date_format = pd.Timestamp(row.date)
    row_data = dict(
        date=datetime.datetime.strftime(row.copy_date, '%Y-%m-%d'),
        hour=datetime.datetime.strftime(row.copy_date, '%H:%M'),
        consumption=row.consumption,
        generation=row.generation,
        time_hour=date_format.hour,
        time_minute=date_format.minute,
        month=date_format.month,
        day_of_week=date_format.dayofweek,
        day=date_format.day,
        week_of_year=date_format.week
    )
    row_data.update(insert_weather_data(datetime.datetime.strftime(row.copy_date, '%Y-%m-%d'), datetime.datetime.strftime(row.copy_date, '%H')))
    rows.append(row_data)
features_df = pd.DataFrame(rows)
features_df

 10%|███████▍                                                                  | 52977/525530 [01:42<17:02, 461.98it/s]

In [ ]:
features_df = features_df.sort_values(by=['date', 'hour'])
features_df